@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: inherit;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: url("https://wallpaperaccess.com/full/1347872.jpg");
    background-size: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.name-content {
    margin-right: 7rem;
}

.name-content .logo {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
}

.name-content p {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 5rem;
}

form {
    display: flex;
    flex-direction: column;
    background: #ffffff94;
    padding: 2rem;
    width: 530px;
    height: 380px;
    border-radius: 20px;
    border: 1px solid rgb(#babfca);
}

form input {
    border-radius: 10px;
    outline: none;
    padding: 0.8rem 1rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}

form input:focus {
    border: 1.6px solid #1877f2;
}

form .login {
    height: 3rem;
    background-color: #1877f2;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
}

form.login:hover {
    background: #0f71f1;
    cursor: pointer;
}

form a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    padding-top: 0.8rem;
    color: #1877f2;
}

form hr {
    background: #acacac;
    margin: 1rem;
    
}

form .create-account {
    outline: none;
    border: none;
    background: #06b909;
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
    color: #fff;
    width: 75%;
    margin: 0 auto;
}

form .create-account:hover {
    background: #03ad06;
    cursor: pointer;
}

